#tdbtn{
    border: 2px solid black;
    margin: 20%;
    padding: 1%;
    text-align: center;
    border: none;
}
#ulUser {
    border: 3px solid rgb(93, 209, 203);
    width: 15%;
    text-align: center;
    list-style-type: none;
    border-radius: 20px;
    padding: 2%;
    transition: 0.4s;
    margin: 2%;
    font-size: 25px;
}
#ulUser1 {
    display: flex;
    flex-wrap: wrap;
}
#PageUlUser {
    margin-top: 5%;
}
#Photo {
    border: 1px solid black;
    padding: 40%;
}
#ulUserId {
    border: 3px solid rgb(93, 209, 203);
    border-radius: 30px;
    font-size: 30px;
    width: 40%;
    margin: 20%;
    margin-top: 10%;
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#liUserId {
    margin: 1%;
    width: 100%;
}
#PhotosId {
    display: flex;
    width: 100%;
    padding-left: 0%;
    margin-bottom: 10%;
}
#PhotoId {
    border: 1px solid black;
    padding: 12%;
}
#btnTable {
    border-radius: 5px;
    color: white;   
}
#LinkTable{
    margin: 0;
    color: white;
}

