* {
  padding: 0;
  margin: 0;
}
h1 {
  margin: 5%;
  text-align: center;
  font-size: 60px;
}
a {
  color: initial;
  text-decoration: none;
}
select {
  width: 24%;
  text-align: center;
  margin: 2%;
  padding: 1%;
  font-size: 30px;
  border-radius: 20px;
}
textarea {
  font-size: 30px;
  margin: 1%;
  padding-right: 1%;
  padding-left: 1%;
  width: 60%;
}
input {
  font-size: 30px;
  margin: 1%;
  padding-right: 1%;
  padding-left: 1%;
  width: 60%;
}
table {
  font-size: 30px;
}
.active {
  color: rgb(232, 235, 255);
  font-weight: 600;
}


